<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pammmuse_admin.adminservice.dao.CategoryDao">



    <select id="cateResultMap"  resultType="pammmuse_admin.adminservice.domain.CategoryResultMap">
        select c.cate_code,
               c.cate_name,
               m.cate_parent,
               m.tier
        from category as c
        join category_mapping as m
        on c.cate_code = m.cate_code

    </select>

</mapper>