<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pammmuse_admin.adminservice.dao.ProductDao">

    <!--제품 등록-->
    <insert id="productEnroll">
        insert into product(product_name, cate_code, product_price, product_stock, product_color, product_size, product_discount, image_url)
        values(#{product_name}, #{cate_code}, #{product_price}, #{product_stock}, #{product_color}, #{product_size}, #{product_discount}, #{image_url})

    </insert>

    <!-- 상품 리스트 -->
    <select id="productGetList" resultType="pammmuse_admin.adminservice.domain.Product">

        select id, product_name, reg_date
        from product
        order by id desc


    </select>

    <!-- 상품 조회 페이지 -->
    <select id="productGetDetail" resultType="pammmuse_admin.adminservice.domain.Product">
        select * from product
        where id = #{id}
--         select p.id, p.product_name,c.cate_name,
--                p.product_price, p.product_stock, p.product_color, p.product_size, p.product_discount, p.regDate, p.updateDate
--         from product as p
--                  join category as c
--                       on p.cate_code = c.cate_code

    </select>


</mapper>